/vendor
/node_modules
Homestead.yaml
Homestead.json
.env
.idea/
_ide_helper.php
.phpstorm.meta.php
/config/debugbar.php
/config/ide-helper.php

app/Providers/TransformerServiceProvider.php
public/Admin/